body {
    color: rgb(15, 15, 15);
    font-family: 'Lucida Sans', 'Lucida Grande', sans-serif;
}





#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}
#familia-pelho{
    float: right ;
    margin: 1em 0 1em 1em;
}


#cabecalho {
    color: rgb(130, 220, 243);
    text-align: center;
}











